*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* shared style */
.font-open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
.btn{
    background-color: #FD6E0A;
    border: none;
    padding: 18.28px 36px 19.3px 35px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    color: white;
}
.logo h2{
    font-size: 45px;
    font-weight: 900;
}
.color-orange{
    color: #FD6E0A;
}
nav .manu{
    display: flex;
    list-style-type: none;
    gap: 51px;
    align-items: center;
    
}
nav .manu a{
    font-size: 20px;
    color: #474747;
    text-decoration: none;
    align-items: center;
}
/* main style */
header{
    background-color:#FFF8F3;
    margin-top: 51px;
    background-image: url('../images/developer.png'),url('../images/header_bg.png');
    background-position: top left, bottom right;
    background-repeat: no-repeat;
}
nav {
    width:56%;
    max-width:869px;
    /* border: 1px solid red; */
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    
}
#bannar{
    /* border: 2px solid rebeccapurple; */
    margin: 46px 38px 0px 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.bannar-content h2{
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 5px;
}
.bannar-image{
    width: 584px;
    height: 676px;
    vertical-align: middle;
}